*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color:#f1f1f1;
    --font:'Poppins', sans-serif;
}
body{
    background-color: var(--primary-color);
    font-family: var(--font);
    margin-right: 20vw;
    margin-left: 20vw;
    width: 60vw;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.main p{
    text-align: justify;
    color: rgb(37, 37, 37);
}
.main h4{
    font-weight: normal;
    font-style: italic;
    text-align: justify;
    color: rgb(37, 37, 37);
}
/* create the responsive for iphone */
@media only screen and (max-width: 599px){
    body {
        height: 100%;
        margin-right: 8vw;
        margin-left: 8vw;
        width: 84vw;
    }
    .main{
        height: 90%;
        justify-content: center;
        gap: 10px;
    }
}
    